{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Su nombre de usuario y contraseña no corresponden, intente de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuenta no tiene autorización para ver esta página.</p>
    {% else %}
    <p>Por favor ingrese a su cuenta para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>Usuario:</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>Contraseña:</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}