{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if user.is_authenticated %}
	<li>Bienvenido(a): {{ user.get_username }}</li>
	<li><a href="{% url 'logout'%}?next=/polls">Desconectarme</a></li>   
	
{% block content %}
    <h2>Mis datos</h2>
    <ul>      
        {% for estudiante in object_list %}
            <li>Nombre: {{ estudiante.nombre }}</li>
            <li>Apellido Paterno: {{ estudiante.apellidoPaterno }}</li>
            <li>Apellido Materno: {{ estudiante.apellidoMaterno }}</li>
            <li>Dirección: {{ estudiante.direccion }}</li>
            <li>Corrreo Electrónico: {{ estudiante.correoElectronico }}</li>
            <li>Teléfono: {{ estudiante.telefono }}</li>
            <li>Rut: {{ estudiante.rut }}</li>
         {% endfor %}        

    </ul>
{% endblock %}


<form action="/polls/editar_estudiante/" method="post">
            {% csrf_token %}
            <input type="hidden" name ="username" value="{{ user.get_username }}">
            <input type="submit" class="btn btn-primary" value="Editar Mis Datos">
        </form> 


<form action="/polls/ver_ramos_estudiante/" method="get">         
    <input type="submit" class="btn btn-primary" value="Ver ramos inscritos">
</form> 

{% endif %} 

