{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if user.is_authenticated %}

	{% ifequal user.profile.role 1%} <!--Estudiante-->		
		 <meta http-equiv="REFRESH" content="0;url=/polls/estudiante">		
	{% endifequal %} 

	{% ifequal user.profile.role 2%} <!--Profesor-->
	 <meta http-equiv="REFRESH" content="0;url=/polls/profesor">
	{% endifequal %} 

	{% ifequal user.profile.role 3%}  <!--Supervisor-->
		 <meta http-equiv="REFRESH" content="0;url=/polls/supervisor">
	{% endifequal %}
	
{% endif %} 

