{% extends 'base2.html' %}
{% load static %}
{% if user.is_authenticated and  user.profile.role == 2%}<!--Profesor-->	

	{% block branding %}    
        <p>Bienvenido(a): {{ user.get_username }}</p>
        <p><a href="{% url 'logout'%}?next=/nave">Desconectarme</a></p>    
	{% endblock %}

	{% block content %}
	 	<form action="/nave/filtrar_ramos_profesor/" method="get">         
	        <input type="submit" class="btn btn-primary" value="Ver ramos impartidos">
	    </form> 

	    <form action="/nave/filtrar_alumnos_profesor/" method="get">         
	        <input type="submit" class="btn btn-primary" value="Ver Alumnos insctritos">
	    </form> 
 	{% endblock %}












{% else %}
	<li>No tiene permiso para ver este sitio</li>
	<form action="/nave/" method="get">         
	    <input type="submit" class="btn btn-primary" value="Volver">
	</form> 
{% endif %} 
