{% extends 'base2.html' %}
{% load render_table from django_tables2 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% if user.autenticated and user.profile.role == 1%} <!--Estudiante-->
{% block branding %}    
        <p>Bienvenido(a): {{ user.get_username }}</p>
        <p><a href="{% url 'logout'%}?next=/nave">Desconectarme</a></p>    
{% endblock %}

{% block content %}
  <div>
     <h1>Ramos Inscritos</h1>
            <h2>Filtros:</h2>
        <form action="/nave/filtrar_ramos_estudiante/" method="post">
            {% csrf_token %}    
             <table summary="no_orderDate">   
            <tr><th>Nombre Asignatura</th><th>Estado</th><th>Semestre</th><th>Año</th><th>Carrera</th>
              <tr>
                <td> <input class="form-control" value="{{ asignatura }}" name ="asignatura"> </td>
                <td> <input class="form-control" value="{{ estado }}" name ="estado"> </td>              
                <td>  <input class="form-control" value="{{ semestre }}" name ="semestre"></td>
                <td> <input class="form-control" value="{{ anno }}" name ="anno"></td>                 
                <td> <input class="form-control" value="{{ carrera }}" name ="carrera"></td>  
            </tr>     
                </tr>   
            </table>    

            <input type="hidden" name ="username" value="{{ usuario.username }}">
            <input type="submit" class="btn btn-primary" value="Buscar">
        </form> 
    </div>





   <h2>Mis Ramos Inscritos</h2>
    <ul>
            <table summary="no_orderDate">
            <tr><th>Asignatura</th><th>Estado</th><th>Semestre</th><th>Año</th><th>Carrera</th>


            {% for obj in lista_inscripciones%}              
                    <tr><td>{{ obj.nombre }}</td><td>{{ obj.estado }}</td><td>{{ obj.semestre }}</td><td>{{ obj.anno }}</td><td>{{ obj.carrera }}</td></tr>               
            {% endfor %}
            </table>     

    </ul>
    <form action="/nave/estudiante/" method="get">         
   
    <input type="submit" class="btn btn-primary" value="Volver">
</form> 

{% endblock %}

    {% else %}
<li>No tiene permiso para ver este sitio</li>
<form action="/nave/" method="get">         
    <input type="submit" class="btn btn-primary" value="Volver">
</form> 

{% endif %} 


